<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.result.mapper.resultMapper">
	<select id="readResult" resultType="com.result.domain.ResultVO">
		select * from VOTE_RESULT 
		where vIdx=#{vidx}
	</select>

</mapper>