<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.result.mapper.resultMapper">
	<select id="readResultList" resultType="com.result.domain.ResultVO">
		select * from VOTE_RESULT 
		where VNO=#{vno}
	</select>
	
	<insert id="createResult" parameterType="com.result.domain.ResultVO">
		insert into VOTE_RESULT(VNO, QNO, CNO, RUSER )
		VALUES(#{vno}, #{qno}, #{cno}, #{ruser})
	</insert>
</mapper>