<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vote.mapper.UserMapper">

	<!-- 회원 가입 -->
	<insert id="joinSnsUser">
		insert into user (userid, userpw,username,snsid,snstype)
		values (#{userid}, #{username}, #{snsid}, #{snstype})
	</insert>
	
	<select id="checkRegisteredUser" resultType="int">
		SELECT count(*)
		FROM user
		WHERE snsid=#{snsid} and snstype=#{snstype}		
	</select>
	
	<select id="duplCheck" resultType="int">
		SELECT count(*)
		FROM user
		WHERE userid = #{userid}
	</select>
	
	<insert id="joinUser">
		INSERT INTO user (userid, userpw, username)
		values(#{userid},#{userpw}, #{username})
	</insert>
</mapper>
