<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vote.mapper.VoteMapper">

	<!-- 설문 생성 -->
	<insert id="createVote" parameterType="com.vote.domain.VoteVO" useGeneratedKeys="true" keyProperty="vidx" keyColumn="vidx" >
		insert into VOTE (vWriter, vTitle)
		values (#{vWriter}, #{vTitle})
	</insert>

	<!-- 질문, 선택지 생성 -->
	<insert id="createQuestion">
		insert into VOTE_QUESTION (vIdx, qNo, cNo, content, attach, attachType)
		values (#{vIdx}, #{qNo}, #{cNo}, #{content}, #{attach}, #{attachType})
	</insert>
	
	<!-- 설문 결과 생성 -->
	<insert id="createResult">
		insert into VOTE_RESULT (rUser, vNo, qNo, cNo)
		values (#{rUser}, #{vNo}, #{qNo}, #{cNo})
	</insert>
	
	<!-- 설문 출력 -->
	<select id="readVote" resultType="com.vote.domain.VoteVO">
		select vIdx, vWriter, vTitle, vActive, vStatus, vUpdateDate
		from VOTE
		where vIdx=#{vIdx}
	</select>
	
	<select id="listVote" resultType="com.vote.domain.VoteVO">
	<![CDATA[
		select vIdx, vWriter, vTitle, vStatus, vUpdateDate
		from VOTE
		where vIdx > 0 and vActive = "Y"
		order by vIdx desc, vUpdateDate desc
	]]>
	</select>
	
	<!-- 전체 설문 출력 -->
	<select id="readVoteList" resultType="com.vote.domain.VoteVO">
	<![CDATA[
		select vIdx, vWriter, vTitle, vStatus, vUpdateDate
		from VOTE
		where vIdx > 0 and vWriter=#{vWriter}
		ordry by vIdx desc, vUpdateDate desc
	]]>
	</select>
	
	<!-- 질문, 선택지 출력 -->
	<select id="readQuestion" resultType="com.vote.domain.VoteQuestionVO">
		select vIdx, qNo, cNo, content, attach, attachType
		from VOTE_QUESTION 
		where vIdx=#{vIdx}
		order by vIdx asc
	</select>
	
	<!-- 설문 결과 출력 -->
	<select id="readResult" resultType="com.vote.domain.VoteResultVO">
		select rUser, vNo, qNo, cNo, vUpdateDate
		from VOTE_RESULT
		where rUser=#{rUser}
		order by vNo desc, vUpdateDate desc
	</select>
	
	<!-- 설문 제목 수정 -->
	<update id="updateVote">
		update VOTE set vTitle=#{vTitle}
		where vIdx=#{vIdx}
	</update>

	<!-- 질문, 선택지 내용 수정 -->
	<update id="updateQuestion">
		update VOTE_QUESTION
		set content=#{content}, attach=#{attach}, attachType=#{attachType}
		where vIdx=#{vIdx} and qNo=#{qNo}, cNo=#{cNo}
	</update>
	
	<!-- 설문 결과 수정 -->
	<update id="updateResult">
		update VOTE_RESULT
		set cNo = #{cNo}
		where rUser=#{rUser} and vNo=#{vNo} and cNo=#{cNo}
	</update>
	<!-- 설문 삭제 -->
	<delete id="deleteVote">
		update VOTE set ACTIVE = 'N'
		where vIdx=#{vIdx}
	</delete>

	<!-- 질문 삭제 -->
	<delete id="deleteQusetion">
		delete from VOTE_QUESTION
		where vIdx=#{vIdx} and qNo=#{qNo}
	</delete>
	
	<!-- 선택지 삭제 -->
	<delete id="deleteChoice">
		delete from VOTE_QUESTION
		where vIdx=#{vIdx} and qNo=#{qNo} and cNo=#{cNo}
	</delete>
	
	<!-- 설문 결과 삭제 -->
	<delete id="deleteResult">
		delete from VOTE_RESULT
		where rUser=#{rUser} and qNo=#{qNo} and cNo=#{cNo}
	</delete>
</mapper>
