@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body { padding-top: 70px; }

ol li{
    font-size:30px;
}


.question-text{
    width:90%;
    height:50px;
    font-size:30px;
    font-family: 'Nanum Gothic', serif;
}

.choice-text{
    width:85%;
    height:50px;
    font-size:30px;
    font-family: 'Nanum Gothic', serif;
}

input[type="file"] {
    width: 0px;
    height: 0px;
    float:left;
}

.question-area{
    margin-bottom:70px;
}

.question-choice{
    margin-top:10px;
}

.choice-area{
    margin-top:10px;
    margin-bottom:10px;
}

img{
    width:28px;
    height:28px;
}